# Telangana Vehicle Sales 2023 ðŸš—

#### Kaggle link for dataset -- https://www.kaggle.com/datasets/zubairatha/revving-up-telangana-vehicle-sales-2023

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv('D:\\Data Science\\Datasets\\For_statistics\\03_Telangana_vehicles\\telangana_vehicle_sales.csv')
df.head(2)

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
0,19139,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/08/2022,2,01/01/2028,Y,TS11AGTR3069,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
1,19210,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/09/2022,2,01/01/2028,Y,TS11AGTR3340,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023

In [3]:
df.shape

(627866, 15)

In [7]:
## Setting option to view the maximum number of columns
pd.set_option('display.max_columns',15)

In [8]:
df.head()

,slno,modelDesc,fuel,colour,vehicleClass,makeYear,seatCapacity,insuranceValidity,secondVehicle,tempRegistrationNumber,category,makerName,OfficeCd,fromdate,todate
0,19139,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/08/2022,2,01/01/2028,Y,TS11AGTR3069,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
1,19210,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/09/2022,2,01/01/2028,Y,TS11AGTR3340,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
2,19308,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/10/2022,2,01/01/2028,N,TS11AGTR3027,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
3,19309,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/10/2022,2,01/01/2028,N,TS11AGTR3072,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA MEDCHAL,01/01/2023,02/01/2023
4,19329,ACTIVA - 6G DLX BSVI,PETROL,DECENT BLUE METALLIC,MOTOR CYCLE,01/11/2022,2,01/01/2028,N,TS11AGTR4864,Non Transport,HONDA MOTORCYCLE&SCOOTER(I)P L,RTA-HYDERABAD-CZ,01/01/2023,02/01/2023

In [13]:
df.isna().count()

slno                      627866
modelDesc                 627866
fuel                      627866
colour                    627866
vehicleClass              627866
makeYear                  627866
seatCapacity              627866
insuranceValidity         627866
secondVehicle             627866
tempRegistrationNumber    627866
category                  627866
makerName                 627866
OfficeCd                  627866
fromdate                  627866
todate                    627866
dtype: int64